* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    padding-left: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/*Segédvonalak*/
div, nav, main, footer {
    border: dashed 1px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 4em;
}

.google-logo {
    width: 272px;
    height: 92px;
    position: relative;
    bottom: 20px;
}

#search-input {
    border: none;
    width: 100%;
    margin: 5px;
}

#search-input:focus {
    outline: none;
}

.search-box-wrapper {
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 500px;
    display: flex;
    align-items: center;
}

.search-box-wrapper:hover {
    box-shadow: 0 0 3px 1px #dfe1e5;
}

.search-btn, .good-day {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

.search-btn:hover, .good-day:hover {
    border: solid 1px #dfe1e5;
    box-shadow: 0 1px 1px #dfe1e5;
    cursor: pointer;
}

.nav-links {
    padding-right: 25px;
}

.menu-icon {
    font-size: 21px;
}