* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: dashed 1px; */
}

html {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.nav-links a {
    padding-left: 15px;
    color: #000000DE;
}

.nav-links a:hover {
    text-decoration: underline;
}

nav {
    height: 60px;
    padding: 0 18px 6px 6px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0,-50px);
}

main span {
    color: #4D5156;
}

footer {
    height: 4em;
}

.google-logo {
    width: 272px;
    height: 92px;
    position: relative;
    bottom: 15px;
    margin-bottom: 10px;
}

#search-input {
    border: none;
    width: 100%;
    margin: 0 20px;
    padding: 10px 0;
}

#search-input:focus {
    outline: none;
}

.search-box-wrapper {
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 580px;
    display: flex;
    align-items: center;
}

.search-box-wrapper:hover {
    box-shadow: 0 1px 3px 2px #dfe1e5;
}

.search-btn, .good-day {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

.search-btn:hover, .good-day:hover {
    border: solid 1px #dfe1e5;
    box-shadow: 0 1px 1px #dfe1e5;
    cursor: pointer;
}

.nav-links {
    padding-right: 18px;
}

.menu-icon {
    font-size: 18px;
}

.menu-icon:hover {
    cursor: pointer;
}

.profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 16px;
}

.menu-and-profile {
    display: flex;
    align-items: center;
}

.menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-icon-container:hover {
    cursor: pointer;
    background-color: #dfe1e5;
}

.button-container {
    padding: 18px 0;
}

footer {
    height: 94px;
    background-color: #f2f2f2;
}

.footer-top {
    height: 50%;
    border-bottom: 1px solid #dadce0;
    color: #70757A;
    font-size: 15px;
    padding: 15px 30px;
}

.footer-bottom {
    height: 50%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left ul, .footer-right ul {
    list-style-type: none;
    display: flex;
}

.footer-bottom li {
    padding: 15px;
}

.footer-bottom a {
    color: #70757A;
    font-size: 14px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

main span a {
    color: #1A0DAB;
}

main span a:hover {
    text-decoration: underline;
}